.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(50px, auto) 1fr minmax(50, auto);
  row-gap: 10px;
}
header{
  grid-column: 1/1;
  grid-row: 1/2;

}
main{
  grid-column: 1/1;
  grid-row: 2/3;
}
footer{
  grid-column: 1/1;
  grid-row: 3/4;
  
}